<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is to an existing file or directory, do nothing
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all other requests to the public folder
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle authorization headers (for APIs)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>